<div class="container editForm">
    <form action="/Admin/AddType" data-ajax="false" data-ajax-mode="" data-ajax-update="" id="form0" method="post">
        <div class="d-flex flex-column ">
            <div class="form-group">
                <label for="Name">Наименование:</label>
                <input type="text" class="form-control" name="Name" value="" />
            </div>
            <div class="form-group">
                <label for="Description">Описание:</label>
                <input type="text" class="form-control" name="Description" value="" />
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
</div>
