@using DrinksVendingMachine.Models.DbModels;
@model List<Image>;

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="editForm">
                <h5>Выберите файл для загрузки</h5>
                <form action="/Admin/AddImage" data-ajax="true" data-ajax-mode="replace" enctype="multipart/form-data" data-ajax-update="#images" id="form0" method="post">
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="customFile" name="uploadedFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <div class="text-right">
                        <input class="btn btn-success" type="submit" value="Загрузить" />
                    </div>

                </form>
            </div>
        </div>
        <div class="col-8">
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Наименование</th>
                        <th>Img</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td><img src="@Url.Content(item.Path)" class="rounded" style="width: 75px; height:75px;" alt=""></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>